body {
  margin: 0;
  padding: 0;
}

div#starfield {
  height: 100%;
  width: 100%;
}
svg.starfield {
  height: 100%;
  width: 100%;

  background-color: #00181e;
}

g.dim .star {
  fill: #666;
}
g.bright .star {
  fill: #eee;
}
g.red .star {
  fill: #6a0001;
}
.nova-core {
  fill: #eee;
}
.nova-petal {
  fill: #666;
}
.nova-petal.dim {
  fill: #333;
}
